
aksharamukha-back/__pycache__/

aksharamukha-front/node_modules/

aksharamukha-front/Todo-Improve\.txt

aksharamukha-front/\.quasar/

aksharamukha-front/dist/

aksharamukha-front/src-electron/

aksharamukha-front/src/plugins/analytics\.js

aksharamukha-back/ScriptMap/EastIndic/__pycache__/

aksharamukha-back/ScriptMap/__pycache__/

aksharamukha-back/ScriptMap/MainIndic/__pycache__/

aksharamukha-back/ScriptMap/NonIndic/__pycache__/

aksharamukha-back/ScriptMap/Roman/__pycache__/

aksharamukha-back/spa-mat
