@import url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-fonts/aksharamukha-fonts.css');

.verticalKana {
  writing-mode: vertical-rl;
}

.phagspatib {
  font-family: 'BabelStone PhagsPa TibA' !important;
  writing-mode: vertical-lr;
  line-height: 1.8em;
  font-size: 150%;
}

.phagspaseal {
  font-family: 'BabelStone PhagsPa Seal' !important;
  writing-mode: vertical-lr;
  line-height: 1.8em;
}

.mongolian {
  font-family: 'MQG8F02' !important;
  writing-mode: vertical-lr;
  line-height: 1.8em;
  font-size: 135%;
}

.devanagaribalbodh {
  font-family: 'chandas' !important;
}

.devanagariuttara {
  font-family: 'uttara' !important;
}

.devanagarinepali {
  font-family: 'siddhanta-nepali' !important;
}

.devanagarijain {
  font-family: 'JainiPurva-Regular' !important;
  font-feature-settings: "ss02", "ss03";

}

.soyombo {
  font-family: 'Noto Sans Soyombo' !important;
  font-size: 130%;
}

.russiancyrillic {
  font-family: 'Noto Sans' !important;
}

.iast {
  font-family: 'Noto Sans' !important;
}

.iastloc {
  font-family: 'Noto Serif' !important;
}

.iso {
  font-family: 'Noto Sans' !important;
}

.oriyavedic {
  font-family: 'Lohit Oriya Vedic' !important;
}

.bengali {
  font-family: 'Noto Sans Bengali' !important;
}

.assamese {
  font-family: 'Noto Sans Bengali' !important;
}

.oriya {
  font-family: 'Noto Sans Oriya' !important;
}

.bengalivedic {
  font-family: 'Noto Sans Bengali Vedic' !important;
}

.gujarativedic {
  font-family: 'Noto Sans Gujarati Vedic' !important;
}

.gurmukhivedic {
  font-family: 'Noto Sans Gurmukhi Vedic' !important;
}

.ariyaka {
  font-family: 'Ariyaka' !important;
  line-height: 1.5em;
}

.tamilold {
  font-family: "Mukta Malar Regular" !important;
  font-feature-settings: "ss04", "kern";
}
.tamil {
  font-family: "Noto Sans Tamil" !important;
}
.tibetandbumed {
  font-family: "Tibetan Dbu Med" !important;
  line-height: 2.3em;
}
.tibetan {
  font-size: 110%;
}
.buhid {
  font-family: "Noto Sans Buhid" !important
}
.rejang {
  font-family: "Noto Sans Rejang" !important
}
.hanunoo {
  font-family: "Noto Sans Hanunoo" !important
}
.saurashtra {
  font-family: "Noto Sans Saurashtra" !important
}
.sorasompeng {
  font-family: "Noto Sans SoraSompeng" !important
}
.khamtishan {
  font-family: "Khamti Regular" !important
}
.warangciti {
  font-family: "Noto Sans WarangCiti" !important
}
.balinese {
  font-family: "Vimala" !important;
}
.kannada {
  font-family: "Noto Sans Kannada" !important
}
.kannadapollu {
  font-family: "Tiro Kannada" !important
}
.javanese {
  font-family: "Noto Sans Javanese", "Javanese Text" !important;
}
.avestan {
  font-family: "Noto Sans Avestan" !important;
  direction: rtl;
}
.buginese {
  font-family: "Noto Sans Buginese" !important
}
.sinhala {
  font-family: "Noto Sans Sinhala" !important
}
.dogra {
  font-family: "Noto Serif Dogra" !important
}
.olddogra {
  font-family: "Noto Serif Dogra" !important;
  font-feature-settings: "ss02";
}
.tagalog {
  font-family: "Open Baybayin" !important
}
.tagbanwa {
  font-family: "Noto Sans Tagbanwa" !important;
}
.sundanese {
  font-family: "Noto Sans Sundanese" !important
}
.cham {
  font-family: "Noto Sans Cham" !important
}
.pallava {
  font-family: "Purnawarman" !important
}
.sundapura {
  font-family: "Sundapura" !important
}
.kawitan {
  font-family: "Kawitan" !important
}
.kawi {
  font-family: "Tantular Kawi" !important
}

.ipa {
  font-family: "Dejavu Sans" !important;
  line-height: 1.5em;
}

.gunjalagondi {
  font-family: "Noto Sans GunjalaGondi" !important
}

.masaramgondi {
  font-family: "Noto Sans MasaramGondi" !important
}

.malayalam {
  font-family: "Noto Sans Malayalam" !important
}
.malayalamold {
  font-family: "Meera" !important;
  font-size:130%;
  line-height:125%;

}
.chakma {
  font-family: "Noto Sans ChakmaPali" !important
}
.lepcha {
  font-family: "Noto Sans Lepcha" !important
}
.limbu {
  font-family: "Noto Sans Limbu" !important
}
.shan {
  font-family: "GreatHorKham_Taunggyi" !important
}
.hebrew {
  font-family: "Noto Serif Hebrew" !important;
  direction: rtl;
}
.hebr-ar {
  direction: rtl;
}
.batakkaro {
  font-family: "Pangururan" !important
}
.batakmanda {
  font-family: "Pangururan" !important
}
.batakpakpak {
  font-family: "Pangururan" !important
}
.bataksima {
  font-family: "Pangururan" !important
}
.bataktoba {
  font-family: "Pangururan" !important
}
.telugu {
  font-family: "Noto Sans Telugu" !important
}
.teluguzha {
  font-family: "Aazhvaar Telugu" !important
}
.telugunukta {
  font-family: "Tiro Telugu" !important
}
.khmer {
  font-family: "Noto Serif Khmer" !important
}
.meeteimayek {
  font-family: "Noto Sans MeeteiMayek" !important
}
.tolongsiki {
  font-family: "kellytolong" !important
}
.tamilbrahmi {
  font-family: "Adinatha Tamil Brahmi" !important
}
.phagspa {
  font-family: "Microsoft PhagsPa", "Noto Sans PhagsPa" !important;
  writing-mode: vertical-lr;
  line-height: 1.8em;
}
.urdu {
  font-family: "Noto Nastaliq Urdu" !important;
  direction: rtl;
}
.shahmukhi {
  font-family: "Noto Nastaliq Urdu" !important;
  direction: rtl;
}
.kaithi {
  font-family: "Noto Sans Kaithi" !important;
}
.gujarati {
  font-family: "Noto Serif Gujarati" !important;
}
.modi {
  font-family: "Noto Sans Modi" !important;
}
.devanagari {
  font-family: "Noto Sans Devanagari" !important;
}
.multani {
  font-family: "Noto Sans Multani" !important;
}
.hanifirohingya {
  font-family: "Noto Sans HanifiRohingya" !important;
  direction: rtl;
}
.ahom {
  font-family: "Noto Serif Ahom" !important;
}
.tirhuta {
  font-family: "MithilaUni" !important;
}
.oldpersian {
  font-family: "Noto Sans OldPersian" !important;
}
.takri {
  font-family: "Noto Sans Takri" !important;
}
.taitham {
  font-family: "PaliTilok" !important;
  font-size: 150%;
}
.khomthai {
  font-family: "Patimokkha" !important;
  font-size: 150%;
}
.taithamlao {
  font-family: "Lamphun" !important;
  font-size: 150%;
}
.laotham {
  font-family: "Lamphun" !important;
  font-size: 150%;
}
.sylotinagri {
  font-family: "Noto Sans SylotiNagri" !important
}
.granthagrantamil {
  font-family: "e-Grantamil" !important;
  font-size: 110%;
  line-height: 1.5em;
}
.tamilgrantha {
  font-family: "e-Grantamil" !important;
  font-size: 110%;
  line-height: 1.5em;
}
.tamilextended {
  font-family: "Agastya Extended Tamil" !important;
  line-height: 1.6em;
}
.tamilextendedserif {
  font-family: "Agastya Serif" !important;
  line-height: 1.6em;
}
.siddhammukta {
  font-size: 120%;
  font-family: "Muktamsiddham" !important;
}
.verticalSiddhammukta {
  writing-mode: vertical-rl;
  font-family: "Muktamsiddham" !important;
  text-orientation: upright;
}

.siddhamap {
  font-family: "ApDevaSiddham" !important
}
.verticalSiddhamap {
  writing-mode: vertical-rl;
  font-family: "ApDevaSiddham" !important;
  text-orientation: upright;
}

.siddham {
  font-family: "Noto Sans Siddham" !important
}
.verticalSiddham {
  writing-mode: vertical-rl;
  font-family: "Noto Sans Siddham" !important;
  text-orientation: upright;
}

.grantha {
  font-family: "Noto Sans Grantha2" !important;
  line-height: 2em;
  font-feature-settings: "ss04", "ss06";
}
.granthaserif {
  font-family: "Noto Serif Grantha" !important;
  font-feature-settings: "ss04", "ss06";
  line-height: 2em;
}
.granthalig {
  font-family: "Noto Sans Grantha2" !important;
  font-feature-settings: "ss04", "ss06", "ss03";
  line-height: 2em;
}
.granthaseriflig {
  font-family: "Noto Serif Grantha" !important;
  font-feature-settings: "ss04", "ss06", "ss03";
  line-height: 2em;
}
.kharoshthi {
  font-family: "Segoe UI Historic", "Noto Sans Kharoshthi" !important;
  direction: rtl;
}
.thaana {
  direction: rtl;
}
.zanabazarsquare {
  font-family: "Noto Sans ZanabazarSquare" !important;
  font-feature-settings: "ss01";
  line-height: 3em;
}
.newa {
  font-family: "Noto Sans Newa" !important
}
.sharada {
  font-family: "Satisar Sharada" !important;
  font-size: 125%;
  line-height: 2em;
}
.thainative {
  font-family: "Kaccayana Thai" !important
}
.mahajani {
  font-family: "Noto Sans Mahajani" !important
}
.multani {
  font-family: "Noto Sans Multani" !important
}
.bhaiksuki {
  font-family: "Noto Sans Bhaiksuki" !important
}
.khojki {
  font-family: "Noto Sans Khojki" !important
}
.khudawadi {
  font-family: "Noto Sans Khudawadi" !important
}
.granthapandya {
  font-family: "e-Pandya" !important
}
.vatteluttu {
  font-family: "e-Vatteluttu" !important
}
.brahmi {
  font-family: "Segoe UI Historic", "Noto Sans Brahmi" !important
}

.limbudeva {
  font-family: "AnnaPurna" !important
}
.laopali {
  font-family: "Lao Pali New" !important
}
.laophonetic {
  font-family: "Lao Pali Sajjhaya New" !important
}
.nepaldevafont {
  font-family: "Nepal2" !important
}
.santali {
  font-family: "Noto Sans Ol Chiki" !important
}
.ranjana {
  font-family: "RanjanaUnicode" !important
}
.ranjanalantsa {
  font-family: "JMYZK--LZT Lantsa" !important
}
.ranjanawartu {
  font-family: "JMYZK--WDT Wartu" !important
}
.taikuen {
  font-family: "A Tai Tham KH New" !important
}
.khuentham {
  font-family: "A Tai Tham KH New" !important
}
.luetham {
  font-family: "Pali TaiLue" !important
}
.wancho {
  font-family: "Noto Sans Wancho" !important
}
.mro {
  font-family: "Noto Sans Mro" !important
}

.nandinagari {
  font-family: "Noto Sans Nandinagari" !important;
  font-size: 125%;
}
.marchen {
  font-family: "Noto Sans Marchen" !important;
  line-height: 2.5em;
}

.makasar {
  font-family: "Adn Salapa Jangang" !important;
  font-size: 150%;
}

.egyp {
  font-size: 150%;
}

.ugar {
  font-family: "Noto Sans Ugaritic" !important;
}

.syrc {
  font-family: "Noto Sans Syriac" !important;
  direction: rtl;
}

.syre {
  font-family: "Noto Sans Syriac Estrangela" !important;
  direction: rtl;
}
.syrj {
  font-family: "Noto Sans Syriac Western" !important;
  direction: rtl;
}
.syrn {
  font-family: "Noto Sans Syriac Eastern" !important;
  direction: rtl;
}
.sogo {
  font-family: "Noto Sans OldSogdian" !important;
  direction: rtl;
}
.sogd {
  font-family: "Noto Sans Sogdian" !important;
  direction: rtl;
}
.sarb {
  font-family: "Noto Sans OldSouthArabian" !important;
  direction: rtl;
}
.samr {
  font-family: "Noto Sans Samaritan" !important;
  direction: rtl;
}
.prti {
  font-family: "Noto Sans InscriptionalParthian" !important;
  direction: rtl;
}
.phnx {
  font-family: "Noto Sans Phoenician" !important;
  direction: rtl;
}
.phlp {
  font-family: "Noto Sans PsalterPahlavi" !important;
  direction: rtl;
}
.phli {
  font-family: "Noto Sans Inscriptional Pahlavi" !important;
  direction: rtl;
}
.palm {
  font-family: "Noto Sans Palmyrene" !important;
  direction: rtl;
}
.nbat {
  font-family: "Noto Sans Nabataean" !important;
  direction: rtl;
}
.narb {
  font-family: "Noto Sans OldNorthArabian" !important;
  direction: rtl;
}
.mani {
  font-family: "Noto Sans Manichaean" !important;
  direction: rtl;
}

.hatr {
  font-family: "Noto Sans Hatran" !important;
  direction: rtl;
}

.elym{
  font-family: "Noto Sans Elymaic" !important;
  direction: rtl;
}

.egyp {
  font-family: "Noto Sans EgyptianHieroglyphs" !important;
  direction: rtl;
}

.armi {
  font-family: "Noto Sans ImperialAramaic" !important;
  direction: rtl;
}

.arab {
  direction: rtl;
}

.arab-fa {
  direction: rtl;
}



