@font-face {
  font-family: 'Noto Sans Tamil';
  src: url('http://localhost:9899/NotoSansTamil-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Saurashtra';
  src: url('http://localhost:9899/NotoSansSaurashtra-Regular.otf')
}
@font-face {
  font-family: 'Noto Serif Bali';
  src: url('http://localhost:9899/NotoSerifBalinese-Regular.otf')
}
@font-face {
  font-family: 'Vimala';
  src: url('http://localhost:9899/Vimala.ttf')
}
@font-face {
  font-family: 'Noto Serif Dogra';
  src: url('http://localhost:9899/NotoSerifDogra-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Wancho';
  src: url('http://localhost:9899/NotoSansWancho-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Mro';
  src: url('http://localhost:9899/NotoSansMro-Regular.otf')
}
@font-face {
  font-family: 'e-Grantamil';
  src: url('http://localhost:9899/e-Grantamil.ttf')
}
@font-face {
  font-family: 'Noto Sans Javanese';
  src: url('http://localhost:9899/NotoSansJavanese-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Mongolian';
  src: url('http://localhost:9899/NotoSansMonglian-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans HanifiRohingya';
  src: url('http://localhost:9899/NotoSansHanifiRohingya-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Khojki';
  src: url('http://localhost:9899/NotoSansKhojki-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Avestan';
  src: url('http://localhost:9899/NotoSansAvestan-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Buginese';
  src: url('http://localhost:9899/NotoSansBuginese-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Tagalog';
  src: url('http://localhost:9899/NotoSansTagalog-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Malayalam';
  src: url('http://localhost:9899/NotoSansMalayalam-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Tagbanwa';
  src: url('http://localhost:9899/NotoSansTagbanwa-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Sundanese';
  src: url('http://localhost:9899/NotoSansSundanese-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Cham';
  src: url('http://localhost:9899/NotoSansCham-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Chakma';
  src: url('http://localhost:9899/NotoSansChakma-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans ChakmaPali';
  src: url('http://localhost:9899/chakmapali.otf')
}
@font-face {
  font-family: 'Noto Sans Telugu';
  src: url('http://localhost:9899/NotoSansTelugu-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Bengali';
  src: url('http://localhost:9899/NotoSansBengali-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Batak';
  src: url('http://localhost:9899/NotoSansBatak-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Lepcha';
  src: url('http://localhost:9899/NotoSansLepcha-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Limbu';
  src: url('http://localhost:9899/NotoSansLimbu-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Meetei Mayek';
  src: url('http://localhost:9899/NotoSansMeeteiMayek-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Nastaliq Urdu';
  src: url('http://localhost:9899/NotoNastaliqUrdu-Regular.otf')
}
@font-face {
  font-family: 'Noto Serif Gujarati';
  src: url('http://localhost:9899/NotoSerifGujarati-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Khmer';
  src: url('http://localhost:9899/NotoSerifKhmer-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans OldPersian';
  src: url('http://localhost:9899/NotoSansOldPersian-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Sinhala';
  src: url('http://localhost:9899/NotoSansSinhala-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Kannada';
  src: url('http://localhost:9899/NotoSansKannada-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Devanagari';
  src: url('http://localhost:9899/NotoSansDevanagari-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans GunjalaGondi';
  src: url('http://localhost:9899/NotoSansGunjalaGondi-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans MasaramGondi';
  src: url('http://localhost:9899/NotoSansMasaramGondi-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Tai Tham';
  src: url('http://localhost:9899/NotoSansTaiTham-Regular.ttf')
}
@font-face {
  font-family: 'Noto Sans Grantha2';
  src: url('http://localhost:9899/NotoSansGrantha-RegularZach.otf')
}
@font-face {
  font-family: 'Noto Serif Grantha';
  src: url('http://localhost:9899/NotoSerifGrantha-RegularZach.otf')
}
@font-face {
  font-family: 'Muktamsiddham';
  src: url('http://localhost:9899/Muktamsiddham.otf')
}
@font-face {
  font-family: 'MuktamsiddhamG';
  src: url('http://localhost:9899/MuktamsiddhamG.ttf')
}
@font-face {
  font-family: 'ApDevaSiddham';
  src: url('http://localhost:9899/ApDevaSiddham.ttf')
}
@font-face {
  font-family: 'Nepal2';
  src: url('http://localhost:9899/Nepal-lipi2.woff')
}

@font-face {
  font-family: 'BabelStoneZanabazar';
  src: url('http://localhost:9899/BabelStoneZanabazar.woff')
}

@font-face {
  font-family: 'Noto Sans Zanabazar Square';
  src: url('http://localhost:9899/NotoSansZanabazarSquare-Regular.otf')
}

@font-face {
  font-family: 'Adinatha Tamil Brahmi';
  src: url('http://localhost:9899/AdinathaTamilBrahmi2.otf')
}

@font-face {
  font-family: 'Kharoshthi Ka';
  src: url('http://localhost:9899/ka-khar.otf')
}
@font-face {
  font-family: 'Meera';
  src: url('http://localhost:9899/Meera-Regular.ttf')
}
@font-face {
  font-family: 'Lao Pali';
  src: url('http://localhost:9899/Lanexang_Mon4.otf')
}
@font-face {
  font-family: 'Khamti Regular';
  src: url('http://localhost:9899/Khamti-Regular.otf')
}
@font-face {
  font-family: 'Kaccayana Thai';
  src: url('http://localhost:9899/KaccayanaThai.otf')
}
@font-face {
  font-family: 'Aazhvaar Telugu';
  src: url('http://localhost:9899/AazhvaarTelugu.otf')
}
@font-face {
  font-family: 'MithilaUni';
  src: url('http://localhost:9899/MithilaUni.ttf')
}
@font-face {
  font-family: 'e-Vatteluttu';
  src: url('http://localhost:9899/e-VatteluttuOT.ttf')
}
@font-face {
  font-family: 'e-Pandya';
  src: url('http://localhost:9899/e-Pandya.ttf')
}
@font-face {
  font-family: 'JMYZK--LZT Lantsa';
  src: url('http://localhost:9899/JMYZK--LZT.ttf')
}
@font-face {
  font-family: 'JMYZK--WDT Wartu';
  src: url('http://localhost:9899/JMYZK--WDT.ttf')
}
@font-face {
  font-family: 'PaliTilok';
  src: url('http://localhost:9899/Pali_Tilok.ttf')
}
@font-face {
  font-family: 'Lamphun';
  src: url('http://localhost:9899/Pali_Khottabun.ttf')
}
@font-face {
  font-family: 'Tibetan Dbu Med';
  src: url('http://localhost:9899/Qomolangma-Betsu.ttf')
}
@font-face {
  font-family: 'Patimokkha';
  src: url('http://localhost:9899/Patimokkha.ttf')
}
@font-face {
  font-family: 'Ariyaka';
  src: url('http://localhost:9899/ariyaka.TTF')
}
@font-face {
  font-family: 'Ariyaka';
  src: url('http://localhost:9899/ariyaka.TTF')
}
@font-face {
  font-family: 'Mukta Malar Regular';
  src: url('http://localhost:9899/MuktaMalar-Regular.ttf')
}
@font-face {
  font-family: 'A Tai Tham KH New';
  src: url('http://localhost:9899/A-Tai-Tham-KH-New-V2.ttf')
}
@font-face {
  font-family: 'Noto Sans Modi';
  src: url('http://localhost:9899/NotoSansModi-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Tibetan';
  src: url('http://localhost:9899/NotoSerifTibetan-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Multani';
  src: url('http://localhost:9899/NotoSansMultani-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans SoraSompeng';
  src: url('http://localhost:9899/NotoSansSoraSompeng-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Mahajani';
  src: url('http://localhost:9899/NotoSansMahajani-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Kaithi';
  src: url('http://localhost:9899/NotoSansKaithi-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Tirhuta';
  src: url('http://localhost:9899/NotoSansTirhuta-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Takri';
  src: url('http://localhost:9899/NotoSansTakri-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans SylotiNagri';
  src: url('http://localhost:9899/NotoSansSylotiNagri-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Newa';
  src: url('http://localhost:9899/NotoSansNewa-Regular.otf');
}
@font-face {
  font-family: 'Noto Sans Sharada';
  src: url('http://localhost:9899/NotoSansSharada-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Bhaiksuki';
  src: url('http://localhost:9899/NotoSansBhaiksuki-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Khudawadi';
  src: url('http://localhost:9899/NotoSansKhudawadi-Regular.otf')
}
@font-face {
  font-family: 'Noto Serif Ahom';
  src: url('http://localhost:9899/NotoSerifAhom-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Siddham';
  src: url('http://localhost:9899/NotoSansSiddham-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Brahmi';
  src: url('http://localhost:9899/NotoSansBrahmi-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Ol Chiki';
  src: url('http://localhost:9899/NotoSansOlChiki-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Rejang';
  src: url('http://localhost:9899/NotoSansRejang-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Buhid';
  src: url('http://localhost:9899/NotoSansBuhid-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Hanunoo';
  src: url('http://localhost:9899/NotoSansHanunoo-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans WarangCiti';
  src: url('http://localhost:9899/NotoSansWarangCiti-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans PhagsPa';
  src: url('http://localhost:9899/NotoSansPhagsPa-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Kharoshthi';
  src: url('http://localhost:9899/NotoSansKharoshthi-Regular.otf')
}
@font-face {
  font-family: 'Noto Sans Regular';
  src: url('http://localhost:9899/NotoSans-Regular.ttf')
}

@font-face {
  font-family: 'RanjanaUnicode';
  src: url('http://localhost:9899/RanjanaUNICODE1.0.TTF')
}

@font-face {
  font-family: 'BabelStone PhagsPa TibA';
  src: url('http://localhost:9899/BabelStonePhagspaTibetanA_v2.ttf')
}

@font-face {
  font-family: 'BabelStone PhagsPa Seal';
  src: url('http://localhost:9899/BabelStonePhagspaSeal_v1.ttf')
}

@font-face {
  font-family: 'Dejavu Sans';
  src: url('http://localhost:9899/DejaVuSans.ttf');
}

@font-face {
  font-family: 'BabelStone PhagsPa Book';
  src: url('http://localhost:9899/BabelStonePhagspaBook_v2.ttf')
}

@font-face {
  font-family: 'Lohit Oriya Vedic';
  src: url('http://localhost:9899/Lohit-Oriya-Vedic.otf')
}

@font-face {
  font-family: 'Noto Sans Bengali Vedic';
  src: url('http://localhost:9899/NotoSansBengali-Vedic.otf')
}

@font-face {
  font-family: 'Noto Sans Gujarati Vedic';
  src: url('http://localhost:9899/NotoSansGujarati-Vedic.otf')
}

@font-face {
  font-family: 'Noto Sans Gurmukhi Vedic';
  src: url('http://localhost:9899/NotoSansGurmukhi-Vedic.otf')
}

@font-face {
  font-family: 'Agastya Extended Tamil';
  src: url('http://localhost:9899/AgastyaExtendedTamil.otf')
}

@font-face {
  font-family: 'Noto Sans Brahmi';
  src: url('http://localhost:9899/NotoSansBrahmi-Regular.otf')
}

@font-face {
  font-family: 'Noto Sans Soyombo';
  src: url('http://localhost:9899/NotoSansSoyombo-Regular.otf')
}

@font-face {
  font-family: 'Noto Sans Marchen';
  src: url('http://localhost:9899/NotoSansMarchen-Regular.otf')
}

@font-face {
  font-family: 'Noto Sans MarchenB';
  src: url('http://localhost:9899/BabelStoneMarchen.ttf')
}

@font-face {
  font-family: 'MQG8F02';
  src: url('http://localhost:9899/MQG8F02.ttf')
}

@font-face{font-family:'Mongolian BT';src:url(http://localhost:9899/LD-MONG150702-BT.ttf); }

.phagspatib {
  font-family: 'BabelStone PhagsPa TibA' !important;
  writing-mode: vertical-lr;
  line-height: 1.8em;
  font-size: 150%;
}

.phagspaseal {
  font-family: 'BabelStone PhagsPa Seal' !important;
  writing-mode: vertical-lr;
  line-height: 1.8em;
}

.mongolian {
  font-family: 'MQG8F02' !important;
  writing-mode: vertical-lr;
  line-height: 1.8em;
  font-size: 135%;
}

.soyombo {
  font-family: 'Noto Sans Soyombo' !important;
  font-size: 130%;
}

.russiancyrillic {
  font-family: 'Noto Sans Regular' !important;
}

.oriyavedic {
  font-family: 'Lohit Oriya Vedic' !important;
}

.bengalivedic {
  font-family: 'Noto Sans Bengali Vedic' !important;
}

.gujarativedic {
  font-family: 'Noto Sans Gujarati Vedic' !important;
}

.gurmukhivedic {
  font-family: 'Noto Sans Gurmukhi Vedic' !important;
}

.ariyaka {
  font-family: 'Ariyaka' !important;
  line-height: 1.5em;
}

.tamilold {
  font-family: "Mukta Malar Regular" !important;
  font-feature-settings: "ss04", "kern";
}
.tamil {
  font-family: "Noto Sans Tamil" !important;
}
.tibetandbumed {
  font-family: "Tibetan Dbu Med" !important;
  line-height: 2.3em;
}
.tibetan {
  font-family: "Noto Sans Tibetan" !important;
  font-size: 110%;
}
.buhid {
  font-family: "Noto Sans Buhid" !important
}
.rejang {
  font-family: "Noto Sans Rejang" !important
}
.hanunoo {
  font-family: "Noto Sans Hanunoo" !important
}
.saurashtra {
  font-family: "Noto Sans Saurashtra" !important
}
.sorasompeng {
  font-family: "Noto Sans SoraSompeng" !important
}
.khamtishan {
  font-family: "Khamti Regular" !important
}
.warangciti {
  font-family: "Noto Sans WarangCiti" !important
}
.balinese {
  font-family: "Vimala" !important;
}
.kannada {
  font-family: "Noto Sans Kannada" !important
}
.javanese {
  font-family: "Noto Sans Javanese", "Javanese Text" !important;
}
.avestan {
  font-family: "Noto Sans Avestan" !important;
  direction: rtl;
}
.buginese {
  font-family: "Noto Sans Buginese" !important
}
.sinhala {
  font-family: "Noto Sans Sinhala" !important
}
.dogra {
  font-family: "Noto Serif Dogra" !important
}
.tagalog {
  font-family: "Noto Sans Tagalog" !important
}
.tagbanwa {
  font-family: "Noto Sans Tagbanwa" !important;
}
.sundanese {
  font-family: "Noto Sans Sundanese" !important
}
.cham {
  font-family: "Noto Sans Cham" !important
}

.ipa {
  font-family: "Dejavu Sans" !important;
  line-height: 1.5em;
}

.gunjalagondi {
  font-family: "Noto Sans GunjalaGondi" !important
}

.masaramgondi {
  font-family: "Noto Sans MasaramGondi" !important
}

.malayalam {
  font-family: "Noto Sans Malayalam" !important
}
.malayalamold {
  font-family: "Meera" !important;
  font-size:130%;
  line-height:125%;

}
.chakma {
  font-family: "Noto Sans ChakmaPali" !important
}
.lepcha {
  font-family: "Noto Sans Lepcha" !important
}
.limbu {
  font-family: "Noto Sans Limbu" !important
}
.batakkaro {
  font-family: "Noto Sans Batak" !important
}
.batakmanda {
  font-family: "Noto Sans Batak" !important
}
.batakpakpak {
  font-family: "Noto Sans Batak" !important
}
.bataksima {
  font-family: "Noto Sans Batak" !important
}
.bataktoba {
  font-family: "Noto Sans Batak" !important
}
.telugu {
  font-family: "Noto Sans Telugu" !important
}
.teluguzha {
  font-family: "Aazhvaar Telugu" !important
}
.khmer {
  font-family: "Noto Sans Khmer" !important
}
.meeteimayek {
  font-family: "Noto Sans Meetei Mayek" !important
}
.tolongsiki {
  font-family: "kellytolong" !important
}
.tamilbrahmi {
  font-family: "Adinatha Tamil Brahmi" !important
}
.phagspa {
  font-family: "Microsoft PhagsPa", "Noto Sans PhagsPa" !important;
  writing-mode: vertical-lr;
  line-height: 1.8em;
}
.urdu {
  font-family: "Noto Sans Nastaliq Urdu" !important;
  direction: rtl;
}
.kaithi {
  font-family: "Noto Sans Kaithi" !important;
}
.gujarati {
  font-family: "Noto Serif Gujarati" !important;
}
.modi {
  font-family: "Noto Sans Modi" !important;
}
.devanagari {
  font-family: "Noto Sans Devanagari" !important;
}
.multani {
  font-family: "Noto Sans Multani" !important;
}
.hanifirohingya {
  font-family: "Noto Sans HanifiRohingya" !important;
  direction: rtl;
}
.ahom {
  font-family: "Noto Serif Ahom" !important;
}
.tirhuta {
  font-family: "MithilaUni" !important;
}
.oldpersian {
  font-family: "Noto Sans OldPersian" !important;
}
.takri {
  font-family: "Noto Sans Takri" !important;
}
.taitham {
  font-family: "PaliTilok" !important;
  font-size: 150%;
}
.khomthai {
  font-family: "Patimokkha" !important;
  font-size: 150%;
}
.taithamlao {
  font-family: "Lamphun" !important;
  font-size: 150%;
}
.sylotinagri {
  font-family: "Noto Sans SylotiNagri" !important
}
.granthagrantamil {
  font-family: "e-Grantamil" !important;
  font-size: 110%;
  line-height: 1.5em;
}
.tamilgrantha {
  font-family: "e-Grantamil" !important;
  font-size: 110%;
  line-height: 1.5em;
}
.tamilextended {
  font-family: "Agastya Extended Tamil" !important;
  line-height: 1.6em;
}
.siddhammukta {
  font-size: 120%;
  font-family: Muktamsiddham
}
.siddham {
  font-family: "Noto Sans Siddham" !important
}
.grantha {
  font-family: "Noto Sans Grantha2" !important;
  line-height: 2em;
  font-feature-settings: "ss04", "ss06";
}
.granthaserif {
  font-family: "Noto Serif Grantha" !important;
  font-feature-settings: "ss04", "ss06";
  line-height: 2em;
}
.granthalig {
  font-family: "Noto Sans Grantha2" !important;
  font-feature-settings: "ss04", "ss06", "ss03";
  line-height: 2em;
}
.granthaseriflig {
  font-family: "Noto Serif Grantha" !important;
  font-feature-settings: "ss04", "ss06", "ss03";
  line-height: 2em;
}
.kharoshthi {
  font-family: "Segoe UI Historic", "Noto Sans Kharoshthi" !important;
  direction: rtl;
}
.thaana {
  direction: rtl;
}
.zanabazarsquare {
  font-family: "Noto Sans Zanabazar Square" !important;
  font-feature-settings: "ss01";
  line-height: 3em;
}
.newa {
  font-family: "Noto Sans Newa" !important
}
.sharada {
  font-family: "Noto Sans Sharada" !important
}
.thainative {
  font-family: "Kaccayana Thai" !important
}
.mahajani {
  font-family: "Noto Sans Mahajani" !important
}
.multani {
  font-family: "Noto Sans Multani" !important
}
.bhaiksuki {
  font-family: "Noto Sans Bhaiksuki" !important
}
.khojki {
  font-family: "Noto Sans Khojki" !important
}
.khudawadi {
  font-family: "Noto Sans Khudawadi" !important
}
.granthapandya {
  font-family: "e-Pandya" !important
}
.vatteluttu {
  font-family: "e-Vatteluttu" !important
}
.brahmi {
  font-family: "Segoe UI Historic", "Noto Sans Brahmi" !important
}
.siddhamap {
  font-family: "ApDevaSiddham" !important
}
.limbudeva {
  font-family: "AnnaPurna" !important
}
.laopali {
  font-family: "Lao Pali" !important
}
.nepaldevafont {
  font-family: "Nepal2" !important
}
.santali {
  font-family: "Noto Sans Ol Chiki" !important
}
.ranjana {
  font-family: "RanjanaUnicode" !important
}
.ranjanalantsa {
  font-family: "JMYZK--LZT Lantsa" !important
}
.ranjanawartu {
  font-family: "JMYZK--WDT Wartu" !important
}
.taikuen {
  font-family: "A Tai Tham KH New" !important
}
.wancho {
  font-family: "Noto Sans Wancho" !important
}
.mro {
  font-family: "Noto Sans Mro" !important
}
.marchen {
  font-family: "Noto Sans Marchen" !important;
  line-height: 2.5em;
}