Flask>=2.0.3
Flask-CORS>=3.0.6
Requests>=2.20.1
pykakasi>=2.0.6
pyyaml>=5.4.1
langcodes>=3.1.0
language_data
regex>=2021.8.3
fonttools[unicode]>=4.31
lxml
google-python-cloud-debugger
beautifulsoup4
khmer-nltk